<%= stylesheet_link_tag 'user/edit', :media => 'all' %>
  
<%= render 'shared/headerber'  %>

<div id='main'>
    <%= form_for :test, url: 'edit/profile', id: 'profile_form_for' do |f| %>
  <div id="edit_profile_rogo">プロフィール</div>
  <div id="header">
    <div id="profile">
      <div id="profile_left">
        <div id="profile_image">画像</div>
        <div id="profile_username">
          Name:
          <%= f.text_field name: 'username', value: @user[:username], id: 'profile_text_field' %></div>
        <div id="profile_info">
          フォロー：<%= @user[:followNum] %><br>
          フォロワー：<%= @user[:followerNum] %><br>
          ツイート数：<%= @user[:sumOfMyTweet] %>
        </div>
      </div>
        <div id="profile_link"><%= f.submit '完了' %></div>
        <div id="text_form_area">
          <div id="mytext_rogo">Text:</div>
          <div id="profile_text"><%= f.text_area naem: 'myText', cols: 40, rows: 10 %><%= @user[:myText] %></div>
        </div>
      <% end %> 
    </div>
  </div>
  
  <div id='edit_login_info_rogo'>ログイン情報</div>
  <div id="update_form_area">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>  
    
      <div class="update_form_part">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>
      
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
      
      <div class="update_form_part">
        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br/>
        <%= f.password_field :password, autocomplete: "off" %>
      </div>
      
      <div class="update_form_part">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>
      
      <div class="update_form_part">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "off" %>
      </div>
       
       <div id="update_button_part">
         <%= f.submit "アップデート" %>
         <%= f.submit "リセット" %>
       </div>
    <% end %>
  </div>

  <div id="cancel_account_area">
    Cancel my account
    <p> <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
  </div>

</div>