<%= stylesheet_link_tag 'user/new', :media => "all"  %>

<body>
  <%= @t %>
  <div id="header">
    <div id="page_title_rogo">Ｎｅｗ Ｕｓｅｒ</div>
  　　<div id="header_link">アカウントをお持ちの方</div>
  </div>
  <div id="error_message"><%= devise_error_messages! %></div>
  <div id="main">
    <div id="form_head"><span class="rogo">Slatter</span>へようこそ</div>
    <div id="form_area">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <ul>
          <li>
            ユーザー名
          </li>
          <li>
            メールアドレス<%= f.email_field :email, autofocus: true,  :class => 'form_text_field' %>
          </li>
          <li>
            パスワード
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> 文字以上)</em>
            <% end %>
            <%= f.password_field :password, autocomplete: "off", :class => 'form_text_field' %>
          </li>
          <li>確認パスワード<%= f.password_field :password_confirmation, autocomplete: "off", :class => 'form_text_field' %></li>
        </ul>
      <div id='form_submit'><%= f.submit "Sign up" %></div> 
      <% end %>
    </div>
  </div>
</body>

<!--    <%= render "devise/shared/links" %> -->