<!--<header>
        <nav>
            <% if user_signed_in? %>
                <strong<%= link_to current_user.username, controller: 'users', action: 'show'  %></strong>
                <%= link_to 'プロフィール変更', edit_user_registration_path %>
                <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
            <% else %>
                <%= link_to 'サインアップ', new_user_registration_path %>
                <%= link_to 'ログイン', new_user_session_path %>
            <% end %>
        </nav>
</header>
-->
  <%= stylesheet_link_tag "user/home", :media => "all" %>
    <div id="header">
      <div id="headerbar">
        <div id="titlerogo">Slater</div>
        <div id="headerbar_link">ＨＯＭＥ　<%= link_to 'Ｔｌ', '/tls/index' %></div>
      </div>
      <div id="profile">
        <div id="profile_left">
          <div id="profile_image"><%= image_tag("home/main_bgi01.jpg") %></div>
       　  <div id="profile_username"><%= @user[:name] %></div>
          <div id="profile_edit"><%= link_to 'edit', edit_user_registration_path %></div>
          <div id="profile_info">
            フォロー：<!--%= @user[:friendNum] % --><br>
            フォロワー：<!--%= @user[:friendedNum] %>--><br>
            ツイート数：
          </div>
        </div>
        <div id="profile_link"><%= link_to 'logout', destroy_user_session_path, method: :delete %></div>
        <div id="profile_text">テストテキスト<!--%= @user[:introduceText] %>--></div>
      </div>    
    </div>

    <div id="main">
      <div id="selectbar">お気に入り　ピックアップ　足跡</div>
      <div id="sidebar">
        <ul>
          <li>ひとこと</li>
          <li>Anime</li>
          <li>Movie</li>
          <li>Comic</li>
        </ul>
      </div>
      <div id="tlbar">
        <!--% if params[:page_type] = 0 then %>
          %= render @page_type1 %>
        % end %> -->
      </div>
    </div>
    <div id="footer">footer</div>
  